.header__nav-icon-item_open {
  transition-duration: 0.1s;
  transition-delay: 0.25s;
  background: transparent;
}

.header__nav-icon-item_open:before {
  transition: top 0.25s, transform 0.25s 0.25s;
  top: 0px;
  transform: rotateZ(-45deg);
}
.header__nav-icon-item_open:after {
  transition: top 0.4s, transform 0.25s 0.25s;
  top: 0px;
  transform: rotateZ(45deg);
}
