.header__link {
    text-decoration: none;
    color: #fff;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(22/18);
    padding-top: 34px;
    padding-right: 30px;
    transition: opacity 1s ease;
}

.header__link:hover {
  opacity: .6;
}

@media screen and (min-width: 1024px) {
    .header__link {
        font-size: 18px;
        padding-top: 7px;
        padding-right: 0;
    }
}
