.card__btn-remove_active {
    display: block;
    background-image: url('../../../../images/btn-remove.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    min-width: 18px;
    min-height: 19.3px;
    position: absolute;
    top: 18px;
    right: 15px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: opacity 1s ease;
}

.card__btn-remove_active:hover {
    opacity: .6;
}