.card__like-counter {
    color: #000;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    line-height: calc(15.73/13);
    margin: 0;
}